# ANALISIS DE DATOS CON PYTHON

## TRABAJO FINAL- MARIA FERNANDA PEREYRA

In [ ]:
A

In [5]:
import pandas as pd
import matplotlib
import math as mth

In [6]:
path = 'Data/population_by_country_2020.csv'

In [7]:
df = pd.read_csv(path)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country (or dependency)  235 non-null    object
 1   Population (2020)        235 non-null    int64
 2   Yearly Change            235 non-null    object
 3   Net Change               235 non-null    int64
 4   Density (P/Km²)          235 non-null    int64
 5   Land Area (Km²)          235 non-null    int64
 6   Migrants (net)           201 non-null    float64
 7   Fert. Rate               235 non-null    object
 8   Med. Age                 235 non-null    object
 9   Urban Pop %              235 non-null    object
 10  World Share              235 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 20.3+ KB

In [7]:
df.sample()

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
115,Finland,5542237,0.15 %,8564,18,303890,14000.0,1.5,43,86 %,0.07 %

In [22]:
df.nunique()

Country (or dependency)    235
Population (2020)          235
Yearly Change              174
Net Change                 234
Density (P/Km²)            164
Land Area (Km²)            226
Migrants (net)             158
Fert. Rate                  51
Med. Age                    35
Urban Pop %                 81
World Share                 74
dtype: int64

In [8]:
df.head(5)

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,China,1440297825,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,India,1382345085,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,United States,331341050,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,Indonesia,274021604,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,Pakistan,221612785,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %

In [24]:
df.sort_values(['Density (P/Km²)'], descending=[True]).head()

TypeError: sort_values() got an unexpected keyword argument 'descending'

In [14]:
df.sort_values(['Population (2020)'], ascending=[False]).head()

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,China,1440297825,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,India,1382345085,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,United States,331341050,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,Indonesia,274021604,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,Pakistan,221612785,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %

In [18]:
df.sort_values(['Population (2020)'], ascending=[False]).tail()

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
230,Montserrat,4993,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
231,Falkland Islands,3497,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
232,Niue,1628,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
233,Tokelau,1360,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
234,Holy See,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [15]:
df.sort_values(['Land Area (Km²)'], ascending=[False]).head()

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
8,Russia,145945524,0.04 %,62206,9,16376870,182456.0,1.8,40,74 %,1.87 %
0,China,1440297825,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
2,United States,331341050,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
38,Canada,37799407,0.89 %,331107,4,9093510,242032.0,1.5,41,81 %,0.48 %
5,Brazil,212821986,0.72 %,1509890,25,8358140,21200.0,1.7,33,88 %,2.73 %

In [10]:
df.sort_values(['World Share'], ascending=[False]).head(9)

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
2,United States,331341050,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,Indonesia,274021604,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,Pakistan,221612785,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
5,Brazil,212821986,0.72 %,1509890,25,8358140,21200.0,1.7,33,88 %,2.73 %
6,Nigeria,206984347,2.58 %,5175990,226,910770,-60000.0,5.4,18,52 %,2.64 %
7,Bangladesh,164972348,1.01 %,1643222,1265,130170,-369501.0,2.1,28,39 %,2.11 %
0,China,1440297825,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,India,1382345085,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
8,Russia,145945524,0.04 %,62206,9,16376870,182456.0,1.8,40,74 %,1.87 %

In [16]:
df['World Share'].unique()

array(['18.47 %', '17.70 %', '4.25 %', '3.51 %', '2.83 %', '2.73 %',
       '2.64 %', '2.11 %', '1.87 %', '1.65 %', '1.62 %', '1.47 %',
       '1.41 %', '1.31 %', '1.25 %', '1.15 %', '1.08 %', '1.07 %',
       '0.90 %', '0.87 %', '0.84 %', '0.78 %', '0.77 %', '0.76 %',
       '0.70 %', '0.69 %', '0.66 %', '0.65 %', '0.60 %', '0.59 %',
       '0.58 %', '0.56 %', '0.52 %', '0.50 %', '0.49 %', '0.48 %',
       '0.47 %', '0.45 %', '0.43 %', '0.42 %', '0.40 %', '0.38 %',
       '0.37 %', '0.36 %', '0.34 %', '0.33 %', '0.31 %', '0.27 %',
       '0.26 %', '0.25 %', '0.24 %', '0.23 %', '0.22 %', '0.21 %',
       '0.20 %', '0.19 %', '0.17 %', '0.16 %', '0.15 %', '0.14 %',
       '0.13 %', '0.12 %', '0.11 %', '0.10 %', '0.09 %', '0.08 %',
       '0.07 %', '0.06 %', '0.05 %', '0.04 %', '0.03 %', '0.02 %',
       '0.01 %', '0.00 %'], dtype=object)

In [27]:
df.filter(like='Km²').head()

   Density (P/Km²)  Land Area (Km²)
0              153          9388211
1              464          2973190
2               36          9147420
3              151          1811570
4              287           770880

In [9]:
rows = [0,1,2,3,4,5,6,7,8,9]
columns = ['Country (or dependency)', 'Population (2020)','Land Area (Km²)', 'Density (P/Km²)',  'World Share']
df.loc[rows,columns]

,Country (or dependency),Population (2020),Land Area (Km²),Density (P/Km²),World Share
0,China,1440297825,9388211,153,18.47 %
1,India,1382345085,2973190,464,17.70 %
2,United States,331341050,9147420,36,4.25 %
3,Indonesia,274021604,1811570,151,3.51 %
4,Pakistan,221612785,770880,287,2.83 %
5,Brazil,212821986,8358140,25,2.73 %
6,Nigeria,206984347,910770,226,2.64 %
7,Bangladesh,164972348,130170,1265,2.11 %
8,Russia,145945524,16376870,9,1.87 %
9,Mexico,129166028,1943950,66,1.65 %

In [14]:
datos_faltantes_df=df.copy()

In [25]:
[(df.loc[0, 'Population (2020)'])//(df.loc[0, 'Land Area (Km²)']) == (df.loc[0, 'Density (P/Km²)'])

[True, True, False]

In [ ]:
comparacion = [(df.loc[0, 'Population (2020)'])/(df.loc[0, 'Land Area (Km²)']) == (df.loc[0, 'Density (P/Km²)']), True, False]